@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position: relative; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: #3583aa;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header-main {
  height: 600px;
  background-image: url(9c51512420d70040e8aab73d831949b5.jpg);
  background-repeat: no-repeat;
  /* 画像の繰り返しを指定  */
  background-position: center center;
  /* 画像の表示位置を指定  */
  background-size: 100%;
  /* 画像のサイズを指定    */
  width: 100%; }
  .header-main .header {
    width: 960px;
    height: 100px;
    margin: 0 auto; }
    .header-main .header .header-navigation {
      float: right;
      margin-top: 60px; }
      .header-main .header .header-navigation .header-navigation__menu li {
        float: left;
        margin: 0 20px;
        font-size: 20px;
        list-style: none;
        font-family: 'Bitter', serif; }
        .header-main .header .header-navigation .header-navigation__menu li a {
          color: #ffffff;
          text-decoration: none; }
        .header-main .header .header-navigation .header-navigation__menu li a:hover {
          border-bottom: 2px solid #ffffff;
          padding-bottom: 3px;
          text-decoration: none; }

/* wrap*/
#wrap {
  clear: both;
  background-color: #ffffff;
  padding: 35px 0; }
  #wrap .contents {
    width: 960px;
    margin: 0 auto; }
    #wrap .contents__main {
      width: 700px;
      margin: 0 10px;
      float: left; }
      #wrap .contents__main__title {
        font-family: 'Bitter', serif;
        font-size: 36px;
        border-bottom: 1px solid #cccccc; }
      #wrap .contents__main__show {
        margin-bottom: 35px; }
        #wrap .contents__main__show__photo {
          font-family: 'Bitter', serif;
          font-size: 24px; }
        #wrap .contents__main__show__content__link {
          color: #3583aa;
          text-decoration: none; }
